$dark-blue: #48637D;
$light-blue: #6D839E;
$orange: #DF550A;
$tag1: #385252;
$tag2: #6D839E;
$tag3: #E79A20;
$tag4: #746111;
$grey: #ACACAC;
$black: #25394B;
$main-font: 'Ubuntu', sans-serif;
$light-grey: #f6f6f6;
$paper-height: 145px;
$light: 300;
$bold: 400;
$tablet: "all and (min-width: 768px) and (max-width: 1240px)";
$phone: "all and (max-width: 320)";

body{
    font-family:$main-font;
    height: 100%;
}

nav{
    height:40px;
    width:100%;
    background-color:$black;
    padding:0px 15%;
    position:fixed;
    z-index: 3;
    
    #menu-icon{
        color: white;
        font-size:24px;
        float: right;
        margin-top:4px;
        display:none;
    }
    li{
        display: inline-block;
        margin-left: 30px;
        
        #act{
            text-decoration: underline;
        }
        
        a{
            font-size: 14px;
            color: white;
            font-family:$main-font;
            text-decoration: none;
            position: relative;
            float: right;
            margin-top: 10px;
            font-weight: $light;
        }

    }
    
    ul{
        display: inline-block;
        float:right;
    }
    
    

    a:hover{
        color: white;
        text-decoration-line: underline;
    }
    
    a:visited{
        text-decoration-line:none;
        color: white;
    }
    
    .logo{
        float: left;
        height: 20px;
        margin-top:10px;        
    } 
    
   
}
.search{
    padding: 40px 10%;
    height:130px;
    background-color:$dark-blue;
    text-align: center;
    
    .search-wrapper{
        padding-top:10px;
    }
    input{
        border-radius:8px;
        border:none;
        height:30px;
        padding:0 20px;
        margin-right:20px;
        margin-top:20px;
        width: 30%;
        font-weight:300;
        
    }
    
    .search-button{
        margin-top:20px;
        border-radius:8px;
        border:none;
        color:white;
        background-color:$orange;
        height:30px;
        width: 100px;
        padding:4px 10px;
        text-transform: uppercase;
    }
    .search-button:hover{
        background-color: #F75D0A;
    }
    .search-icon{
        height:12px;
        width:12px;
        margin-bottom:4px;
        margin-left:4px;
    }
    
}

.main-section{
    height:100%;
    background-color:$light-blue;
    padding:40px 15%;
    
    .listing-title{
        color:white;
        font-size:18px;
    }
    .update-time{
        color:$grey;
        font-size:14px;
        font-weight: 100;
    }

    .job-post{
        height:277px;
        background-color:$light-grey;
        border-radius: 8px;
        margin:20px 0; 
        padding:20px 60px;
        position: relative;
        
        .date-time{
            font-size: 12px;
            color: $grey;
            margin-top:-10px;
        }        
        

        .star{
            font-size: 30px;
            float: right;
            margin-right:-40px;
            margin-top: -10px;
            transition-duration: .2s;
        }
        
        .star-inactive{
           color: $grey;
        }
        
       .star-active{
           color: $orange;
        }

        .job-title{
            font-size:22px;
            font-weight: 600;
            margin-top:10px;
        }
        .dash{
            margin-left:10px;
        }
        .company{
            font-size: 18px;
            font-weight:100;
            text-decoration:underline;
            color: $black;
            text-transform: uppercase;
        }
        button{
            border-radius:13px;
            border:none;
            height: 25px;
            padding: 0 12px;
            margin-top:15px;
            font-size: 12px;
            margin-right: 5px;
            color: white;   
            outline:none;
        }
        .job-location{
            background-color:$tag1;
            text-transform: uppercase;
            }
        .job-location:hover{
            background-color:#496B6B;
        }
        .job-type{
            background-color: $tag2;
            text-transform: uppercase;
        }
        .job-type:hover{
            background-color: #7F98B8;
        }
        .job-level{
            background-color: $tag3;
            text-transform: uppercase;
        }
        .job-level:hover{
            background-color: #FFAB24;
        }
        .salary-range{
            background-color: $tag4;
            text-transform: uppercase;
        }
        .salary-range:hover{
            background-color: #8C7415;  
        }
        .paper{
            background-color: white;
            margin-bottom: 0;
            height: $paper-height;
            margin-top: 20px;
            padding: 10px 20px;
            text-align: center;
            position:relative;
            
            .description-wrapper{
                height:($paper-height)-42px;
                overflow: hidden;
                text-align: left;
                font-family: open sans;
            
                h4{
                font-size:14px;
                font-weight:bold;
                }
                p{
                font-size: 13px;
                }
                .apply-wrapper{
                    text-align:center;  
                }
                .apply{
                    border-radius: 8px;
                    background-color: $orange;
                    color:white;
                    font-size:14px;
                    height:40px;
                    padding: 10px 20px;
                    font-weight: 600;
                    font-family: $main-font;
                    margin-right: 10px;
                    
                }
                .apply:hover{
                    background-color: #F75D0A;
                }
                .star-button{
                    border-radius: 8px;
                    background-color: $grey;
                    color:white;
                    font-size:14px;
                    height:40px;
                    padding: 10px 20px;
                    font-weight: 600;
                    font-family: $main-font;
                }
                
                .star-button:hover{
                    background-color: #c4c4c4;
                }
            }
            .see-more{
                background-color:transparent;
                border: none;
                text-transform:uppercase;
                color: $orange;
                font-size: 14px;
                margin-top: 0px;
                
            }
            .see-less{
                margin-top:10px;
            }
            .expanded{
            }
            
            .down-triangle{
                font-size:8px;
                margin: 0 10px;
                color: $orange;
            }
        }
    }

}
  


.overlay{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: .5;
    display: none;
    z-index:1;
}


@media all and (max-width: 768px) {
    nav{
        ul{
            display: none}
        #menu-icon {
				display: inline-block;
			}
    }
    .main-section{    
        .job-post{
            height: 270px;
            .job-title{
                font-size:18px;
            }
            .company{
                font-size: 14px;
            }
            button{
                font-size:10px;
                padding: 0 10px;
            }
            .paper{
//                height:121px;
                
                .description-wrapper{
//                    height:85px;
                    
                }
            }
        }
    
    }
}
@media all and (max-width: 660px) {
    nav{
        padding: 0 10%;
        
        ul{
            display: none}
        #menu-icon {
				display: inline-block;
			}
    }
    .search{
        input{
            padding: 0 10px;
            font-size: 12px;
        }
    }
    .main-section{
        padding: 20px 10%;
        text-align: center;
        
        .listing-title{
            font-size:18px;

        }
        .update-time{
            display:block;
            font-size:10px;
        }
        .job-post{
            height: 315px;
            padding: 20px 20px;
            
            .star{
                position: absolute;
                right: 60px;
            }
            .date-time{
                font-size:10px;
                position:relative;
                
            }
            .job-title{
                font-size:18px;
                margin: 0 20%;
            }
            .dash{
                display:none;
            }
            .company{
                margin: 0 20%;
                font-size: 14px;
            }
            .tag-section{
                text-align: center;
                
                .tag-wrapper{
                    text-align: center;
                    width: 200px;
                    margin-top:15px;
                    margin-left: calc(50% - 100px);
                    button{
                        width:100px;
                        font-size:10px;
                        padding: 0 10px;
                        margin:0;
                        margin-right: -5px;
                        border-radius:0px;
                    }
                }
            }
            .paper{
//                height:121px;
                
                .description-wrapper{
//                    height:85px;
                    
                }
            }
        }
    
    }
}

@media all and (max-width: 460px) {
//    nav{
//        padding: 0 10%;
//        
//        ul{
//            display: none}
//        #menu-icon {
//				display: inline-block;
//			}
//    }
    .search{
        height: 190px;
        input{
            width:50%;
            margin:5px 20%;
        }
        .search-button{
            margin-top:15px;
        }
    }
    .main-section{
//        padding: 20px 10%;
//        text-align: center;
//        
//        .listing-title{
//            font-size:18px;
//
//        }
//        .update-time{
//            display:block;
//            font-size:10px;
//        }
        .job-post{
            padding: 10px 10px;
//            height: 315px;
//            
//            .date-time{
//                font-size:10px;
//                position:relative;
//                
//            }
            .job-title{
                margin: 0 0;
            }
//            .dash{
//                display:none;
//            }
//            .company{
//                font-size: 14px;
//            }
//            .tag-section{
//                text-align: center;
//                
//                .tag-wrapper{
//                    text-align: center;
//                    width: 200px;
//                    margin-top:15px;
//                    margin-left: calc(50% - 100px);
//                    button{
//                        width:100px;
//                        font-size:10px;
//                        padding: 0 10px;
//                        margin:0;
//                        margin-right: -5px;
//                        border-radius:0px;
//                    }
//                }
//            }
            .paper{
                height:155px;

                .description-wrapper{
                    height:110px;
                    
                }
            }
        }
//    
    }
}

       
    

    

