/* line 18, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
body {
  font-family: "Ubuntu", sans-serif;
  height: 100%; }

/* line 23, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
nav {
  height: 40px;
  width: 100%;
  background-color: #25394B;
  padding: 0px 15%;
  position: fixed;
  z-index: 3; }
  /* line 31, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  nav #menu-icon {
    color: white;
    font-size: 24px;
    float: right;
    margin-top: 4px;
    display: none; }
  /* line 38, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  nav li {
    display: inline-block;
    margin-left: 30px; }
    /* line 42, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    nav li #act {
      text-decoration: underline; }
    /* line 46, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    nav li a {
      font-size: 14px;
      color: white;
      font-family: "Ubuntu", sans-serif;
      text-decoration: none;
      position: relative;
      float: right;
      margin-top: 10px;
      font-weight: 300; }
  /* line 59, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  nav ul {
    display: inline-block;
    float: right; }
  /* line 66, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  nav a:hover {
    color: white;
    text-decoration-line: underline; }
  /* line 71, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  nav a:visited {
    text-decoration-line: none;
    color: white; }
  /* line 76, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  nav .logo {
    float: left;
    height: 20px;
    margin-top: 10px; }

/* line 84, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
.search {
  padding: 40px 10%;
  height: 130px;
  background-color: #48637D;
  text-align: center; }
  /* line 90, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  .search .search-wrapper {
    padding-top: 10px; }
  /* line 93, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  .search input {
    border-radius: 8px;
    border: none;
    height: 30px;
    padding: 0 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 30%;
    font-weight: 300; }
  /* line 105, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  .search .search-button {
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #DF550A;
    height: 30px;
    width: 100px;
    padding: 4px 10px;
    text-transform: uppercase; }
  /* line 116, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  .search .search-button:hover {
    background-color: #F75D0A; }
  /* line 119, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  .search .search-icon {
    height: 12px;
    width: 12px;
    margin-bottom: 4px;
    margin-left: 4px; }

/* line 128, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
.main-section {
  height: 100%;
  background-color: #6D839E;
  padding: 40px 15%; }
  /* line 133, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  .main-section .listing-title {
    color: white;
    font-size: 18px; }
  /* line 137, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  .main-section .update-time {
    color: #ACACAC;
    font-size: 14px;
    font-weight: 100; }
  /* line 143, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  .main-section .job-post {
    height: 277px;
    background-color: #f6f6f6;
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px 60px;
    position: relative; }
    /* line 151, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .date-time {
      font-size: 12px;
      color: #ACACAC;
      margin-top: -10px; }
    /* line 158, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .star {
      font-size: 30px;
      float: right;
      margin-right: -40px;
      margin-top: -10px;
      transition-duration: .2s; }
    /* line 166, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .star-inactive {
      color: #ACACAC; }
    /* line 170, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .star-active {
      color: #DF550A; }
    /* line 174, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .job-title {
      font-size: 22px;
      font-weight: 600;
      margin-top: 10px; }
    /* line 179, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .dash {
      margin-left: 10px; }
    /* line 182, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .company {
      font-size: 18px;
      font-weight: 100;
      text-decoration: underline;
      color: #25394B;
      text-transform: uppercase; }
    /* line 189, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post button {
      border-radius: 13px;
      border: none;
      height: 25px;
      padding: 0 12px;
      margin-top: 15px;
      font-size: 12px;
      margin-right: 5px;
      color: white;
      outline: none; }
    /* line 200, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .job-location {
      background-color: #385252;
      text-transform: uppercase; }
    /* line 204, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .job-location:hover {
      background-color: #496B6B; }
    /* line 207, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .job-type {
      background-color: #6D839E;
      text-transform: uppercase; }
    /* line 211, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .job-type:hover {
      background-color: #7F98B8; }
    /* line 214, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .job-level {
      background-color: #E79A20;
      text-transform: uppercase; }
    /* line 218, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .job-level:hover {
      background-color: #FFAB24; }
    /* line 221, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .salary-range {
      background-color: #746111;
      text-transform: uppercase; }
    /* line 225, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .salary-range:hover {
      background-color: #8C7415; }
    /* line 228, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
    .main-section .job-post .paper {
      background-color: white;
      margin-bottom: 0;
      height: 145px;
      margin-top: 20px;
      padding: 10px 20px;
      text-align: center;
      position: relative; }
      /* line 237, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
      .main-section .job-post .paper .description-wrapper {
        height: 103px;
        overflow: hidden;
        text-align: left;
        font-family: open sans; }
        /* line 243, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
        .main-section .job-post .paper .description-wrapper h4 {
          font-size: 14px;
          font-weight: bold; }
        /* line 247, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
        .main-section .job-post .paper .description-wrapper p {
          font-size: 13px; }
        /* line 250, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
        .main-section .job-post .paper .description-wrapper .apply-wrapper {
          text-align: center; }
        /* line 253, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
        .main-section .job-post .paper .description-wrapper .apply {
          border-radius: 8px;
          background-color: #DF550A;
          color: white;
          font-size: 14px;
          height: 40px;
          padding: 10px 20px;
          font-weight: 600;
          font-family: "Ubuntu", sans-serif;
          margin-right: 10px; }
        /* line 265, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
        .main-section .job-post .paper .description-wrapper .apply:hover {
          background-color: #F75D0A; }
        /* line 268, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
        .main-section .job-post .paper .description-wrapper .star-button {
          border-radius: 8px;
          background-color: #ACACAC;
          color: white;
          font-size: 14px;
          height: 40px;
          padding: 10px 20px;
          font-weight: 600;
          font-family: "Ubuntu", sans-serif; }
        /* line 279, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
        .main-section .job-post .paper .description-wrapper .star-button:hover {
          background-color: #c4c4c4; }
      /* line 283, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
      .main-section .job-post .paper .see-more {
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        color: #DF550A;
        font-size: 14px;
        margin-top: 0px; }
      /* line 292, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
      .main-section .job-post .paper .see-less {
        margin-top: 10px; }
      /* line 298, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
      .main-section .job-post .paper .down-triangle {
        font-size: 8px;
        margin: 0 10px;
        color: #DF550A; }

/* line 310, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #25394B;
  opacity: .5;
  display: none;
  z-index: 1; }

@media all and (max-width: 768px) {
  /* line 325, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  nav ul {
    display: none; }
  /* line 327, /Users/ntvadmin/Documents/Culture-Jobs/main.scss */
  nav #menu-icon {
    display: inline-block; } }

/*# sourceMappingURL=main.css.map */